/*Login & Registration
------------------------------------*/
/**General Styles**/
/*Welcome Title*/
.form-input h2.welcome-title {
	font-size: 34px;
	font-weight: 200;
	line-height: 50px;
	margin-top: -10px;
	margin-bottom: 20px;
}

/*Login Block*/
.form-input .form-input-block {
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.form-input .form-input-block h2 {
	font-size: 22px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 30px;
	text-transform: capitalize;
}

.form-input .form-input-block a {
	color: #687074;
	text-decoration: underline;
}

.form-input .form-input-block a:hover {
	color: #d10000;
}

/*Login Input*/
.form-input .login-input i {
	font-size: 20px;
	min-width: 25px;
}

.form-input .login-input span,
.form-input .login-input input {
	color: #ccc;
	border-color: #ccc;
}

.form-input .login-input .form-control {
	color: #555;
	font-weight: 600;
}

.form-input .login-input .form-control:focus {
	box-shadow: none;
}

.form-input .login-input .no-border-top{
	margin-top: -1px;
}

.form-input .input input::-moz-placeholder {
	color: #ccc;
}
.form-input .input input:-ms-input-placeholder {
	color: #ccc;
}
.form-input .input input::-webkit-input-placeholder {
	color: #ccc;
}

/*Register Input*/
.form-input .form-input-block label {
	font-weight: normal;
}

.form-input .form-input-block section {
	margin-bottom: 5px;
}

.form-input .reg-input section {
	margin-bottom: 15px;
}

.form-input .reg-input .input,
.form-input .reg-input .select {
	display: block;
}

.form-input .reg-input .input input {
	width: 100%;
}

.form-input .reg-input select {
	font-weight: 200;
	color: #888 !important;
}

/*Error State*/
.form-input .state-error input,
.form-input .state-error select,
.form-input .state-error textarea,
.form-input .radio.state-error i,
.form-input .toggle.state-error i {
	background: #fff0f0;
}

.form-input .state-error select + i {
	background: #fff0f0;
	box-shadow: 0 0 0 12px #fff0f0;
}

.form-input .toggle.state-error input:checked + i {
	background: #fff0f0;
}

.form-input .state-error + em {
	display: block;
	color: #ee9393;
	padding: 0 1px;
	font-size: 11px;
	margin-top: 6px;
	line-height: 15px;
	font-style: normal;
}

.form-input .rating.state-error + em {
	margin-top: -4px;
	margin-bottom: 4px;
}

/*Success State*/
.form-input .state-success input,
.form-input .state-success select,
.form-input .state-success textarea,
.form-input .radio.state-success i,
.form-input .toggle.state-success i {
	background: #f0fff0;
}

.form-input .state-success select + i {
	background: #f0fff0;
	box-shadow: 0 0 0 12px #f0fff0;
}

.form-input .toggle.state-success input:checked + i {
	background: #f0fff0;
}

.form-input .state-success + em {
	display: block;
	color: #ee9393;
	padding: 0 1px;
	margin-top: 6px;
	font-size: 11px;
	line-height: 15px;
	font-style: normal;
}

.form-input .note-success {
	color: #6fb679;
}

/*Row Columns Space Removes*/
.form-input .columns-space-removes .col-sm-6:nth-child(odd) {
	padding-right: 5px;
}
.form-input .columns-space-removes .col-sm-6:nth-child(even) {
	padding-left: 5px;
}

@media (max-width: 1200px) {
	.form-input .columns-space-removes .col-sm-6:nth-child(odd) {
		padding-right: 15px;
	}
	.form-input .columns-space-removes .col-sm-6:nth-child(even) {
		padding-left: 15px;
	}
}

/*Border Wings*/
.form-input .border-wings {
	text-align: center;
}

.form-input .border-wings span {
	color: #687074;
	font-size: 14px;
  	padding: 0 10px;
	position: relative;
  	margin-bottom: 15px;
  	display: inline-block;
	text-transform: uppercase;
}

.form-input .border-wings span:before,
.form-input .border-wings span:after {
	top: 10px;
	height: 1px;
	width: 100%;
	content: " ";
	background: #ccc;
	position: absolute;
}

.form-input .border-wings span:before {
  	left: 100%;
}

.form-input .border-wings span:after {
  	right: 100%;
}

/*Site Statistics*/
.form-input .site-statistics {
	padding: 10px;
	text-align: center;
	background: #f8f8f8;
}

.form-input .site-statistics span {
	color: #888;
	display: block;
	font-size: 26px;
	font-weight: 200;
	position: relative;
	margin-bottom: 10px;
}

.form-input .site-statistics span:after {
	left: 50%;
	height: 1px;
	width: 10px;
	bottom: -5px;
	content: " ";
	background: #888;
	margin-left: -5px;
	position: absolute;
}

.form-input .site-statistics small {
	color: #888;
	font-size: 12px;
	text-transform: uppercase;
}

/*Members Number*/
.form-input .members-number {
	text-align: center;
}

.form-input .members-number h3 {
	margin-bottom: 25px;
}

.form-input .members-number img {
	margin: 0 auto;
}